<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1 align="center">Operation of Two Numbers</h1>
<h1>{{Ans2}}</h1>
<form action="read_data" method="post">
  {% csrf_token %}
<table>
  <tr>
    <td>Num1: </td>
    <td><input type="number" name="txtnum1" value="{{NUM1}}"/></td>
  </tr>
  <tr>
    <td>Num2: </td>
    <td><input type="number" name="txtnum2" value="{{NUM2}}"/></td>
  </tr>
  <tr>
    <td>Operation</td>
    <td><input type="radio" id="btnadd" name="operation" value="Add" />Add
      <input type="radio" id="btnsub" name="operation" value="Sub"/>Sub
      <input type="radio" id="btnmulti" name="operation" value="Multi"/>Multiplication
      <input type="radio" id="btndiv" name="operation" value="Div"/>Division
      <input type="radio" id="btnrem" name="operation" value="Rem"/>Remainder
    </td>
  </tr>
  <tr>
    <td><input type="submit" id="btnsubmit" value="Submit"/></td>
  </tr>
  </tr>
  <tr>
    <td>Result :</td>
    <td><input type="number" name="txtres" value="{{Ans}}"/></td>
  </tr>

</table>
</form>
</body>
</html>

